<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
        <requestedExecutionLevel level="requireAdministrator" uiAccess="false"/>
    </startup>
  <connectionStrings>
    <add name="Server"
		 connectionString="http://cozumotesttls.cloudapp.net"/>
	<add name="AdminServer"
		 connectionString="http://cozdev01admapiweb.cloudapp.net"/>
	<add name="DemoServer"
		 connectionString="http://cozumointops.cloudapp.net"/>
    <add name="ValidSerial"
         connectionString="D05FB84F1606"/>
    <add name="DemoSerial"
         connectionString="D05FB84F2A56"/>
    <add name="InvalidSerial"
         connectionString="THISISANINVALIDSERIAL"/>
    <add name="TimesToRunTests"
         connectionString="10"/>
    <add name="DelayBetweenRuns"
         connectionString="200"/>
    <add name="Username"
         connectionString="888QQ"/>
    <add name="Password"
         connectionString="foo"/>
  </connectionStrings>
</configuration>