<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="adjunct-System.Xml.Linq.Extensions" version="2.0.0" targetFramework="net45" />
  <package id="AsyncUnitTests-MSTest" version="1.0.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net45" />
  <package id="Microsoft.Office.Project.Server" version="1.0.1" targetFramework="net45" />
  <package id="Microsoft.Office365.Discovery" version="1.0.22" targetFramework="net45" />
  <package id="Microsoft.UnitTestFramework.Extensions" version="1.0.0.3" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Project" version="1.0.0.0" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.VSEditor.Standalone.10" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="NetOffice.Core" version="1.7.2.0" targetFramework="net45" />
  <package id="NetOffice.Excel" version="1.7.2.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="Nito.AsyncEx" version="3.0.0" targetFramework="net45" />
  <package id="nuget-bot.Microsoft.VisualStudio.Services.Client" version="12.0.21005.1" targetFramework="net45" />
  <package id="nuget-bot.Microsoft.VisualStudio.Services.Common" version="12.0.21005.1" targetFramework="net45" />
  <package id="nuget-bot.Microsoft.VisualStudio.Services.WebApi" version="12.0.21005.1" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="NUnit.Extensions" version="2.6.0.0" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="Spire.XLS" version="7.7" targetFramework="net45" />
  <package id="Xamarin.Forms" version="1.4.2.6359" targetFramework="net45" />
</packages>